.App{
  width: 90%;
  margin: 32px auto;
  background-color: #394049;
  color: #fff;
  border-radius: 7px;
}

.todo-header{
  padding: 8px;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}
